---js
{
	layout: "layout.njk",
	localdata: "I am Local Data",
	now: (new Date()).toISOString(),
	permalink: {
		build: "/",
		serverless: "/dynamic/",
	}
}
---
<h1>Welcome to Eleventy Serverless</h1>
<p>Now: {{ now }}</p>
<p>Page Date: {{ page.date.toISOString() }}</p>
<p>{{ localdata }}</p>
<p>{{ globaldata }}</p>
<p>{% include "include.njk" %}</p>

<a href="/">Build Template</a>
<a href="/dynamic/">Dynamic Template</a>

