---
localdata: "Hello from Netlify Functions"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="This is a demo of running Eleventy in a serverless function.">
		<title>Eleventy Cloud Demo</title>
	</head>
	<body>
		<h1>{% if name %}Hello {{ name }}!!{% else %}Welcome{% endif %}</h1>

		<p>{{ localdata }}</p>
		<p>{{ globaldata }}</p>
		<p>{% include "include.njk" %}</p>
	</body>
</html>
