---js
{
	layout: "layout.njk",
	localdata: "I am Local Data",
	now: (new Date()).toISOString(),
	permalink: {
		build: "/",
		serverless: "/:key/",
		ondemandbuilder: "/:key/cached/"
	}
}
---
<h1>Welcome to Eleventy Serverless</h1>
<p>Now: {{ now }}</p>
<p>{{ localdata }}</p>
<p>{{ globaldata }}</p>
<p>{% include "include.njk" %}</p>
<pre>{{ eleventy | dump(2) }}</pre>

<ul>
	<li><a href="/">Build Template</a></li>
	<li><a href="/this-can-be-anything/">Fully-dynamic Template</a></li>
	<li><a href="/this-can-be-anything/cached/">On-demand Builder Template</a></li>
</ul>

